<div class="background sidebar-container">
    <div class="sidebar-title">
        <span class="white-accent">
            Eric P. Jobe, Ph.D.
        </span>
    </div>
    <div class="avatar-container">
        <img src="/assets/profile_cropped_200px.jpg" alt="avatar" class="avatar" />
    </div>
    <app-tree [nodes]="nodes" (treeEvent)="handleTreeEvent()"></app-tree>
    <div class="main-folder">
        
              <!-- <li (click)="selectPage('poetic')">Poetic Digital</li> -->
             
          
    </div>
</div>