<div class="main-container">
    <div class="tab">
        <button class="tablinks" >Poetic Digital</button>
        <button class="tablinks" >University of Chicago</button>
        <button class="tablinks" >Apache Corp.</button>
    </div>
    
    <div id="poetic" class="tabcontent">
        <h3>Poetic Digital</h3>
        <p>Here are all the things I did at Poetic:</p>
    </div>
    
    <div id="apache" class="tabcontent">
        <h3>Apache Corp.</h3>
        <p>Here are all the things I did at Apache</p> 
    </div>
    
    <div id="university" class="tabcontent">
        <h3>University of Chicago</h3>
        <p>Here are all the things I studied at the University of Chicago</p>
    </div>
</div>
