<div class="top-menu-container">
    <span style="display:inline-block; height: 0px;"></span>
    <div class="top-menu-item"><a routerLink="/work-history"><i class="fa fa-code"></i></a></div>
    <div class="top-menu-item"><a routerLink="/education"><i class="fa fa-graduation-cap"></i></a></div>
    <div class="top-menu-item"><a routerLink="/languages"><i class="fa fa-language" ></i></a></div>
    <div class="top-menu-item"><a routerLink="/philosophy"><i class="fa-regular fa-lightbulb"></i></a></div>
    <span style="display:inline-block; height: 40px;"></span>
    <div class="top-menu-item"><a href="#"><i class="fa fa-github"></i></a></div>
    <div class="top-menu-item"><a href="#"><i class="fa fa-linkedin"></i></a></div>
    <div class="top-menu-item"><a href="#"><i class="fa fa-file-lines" ></i></a></div>
</div>
