.sidebar-container {
    width: 15rem;
    height: 100vh;
    border-right-color: #313852;
    border-right-width: 1px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-title {
    margin: 1.5rem;
    font-family: 'Fira Code';
    font-size: 16px;
}

.main-folder {
    margin: 1rem;
}

.sidebar-list {
    list-style: none;
}

.sidebar-list li {
    padding-top: 5px;
    color: #5e81ac;
    font-family: 'Fira Code';
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.avatar-container {
    height: 200px;
    text-align: center;
    margin-top: 10px;
}