html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
}
/* You can add global styles to this file, and also import other style files */
.background {
    background-color: #1B2240;
}

.primary-text {
    color: #B2CCD6;
}

.purple-accent {
    color: #C792EA;
}

.green-accent {
    color: #C3E88C;
}

.orange-accent {
    color: #F78C6D;
}

.red-accent {
    color: #F77669;
}

.yellow-accent {
    color: #FFCA6B;
}

.blue-accent {
    color: #82AAFF;
}

.white-accent {
    color: #EEFFFF;
}